
td { font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: white;  }
A {text-decoration:none; color: gold }
A:link {text-decoration:none; color: gold }
A:hover {text-decoration:underline; color: gold }


/*
     FILE ARCHIVED ON 22:14:06 Sep 01, 2000 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:25:04 Dec 28, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  load_resource: 251.137
  RedisCDXSource: 24.769
  esindex: 0.015
  captures_list: 313.486
  CDXLines.iter: 19.499 (3)
  exclusion.robots: 0.227
  PetaboxLoader3.datanode: 425.568 (4)
  LoadShardBlock: 264.758 (3)
  exclusion.robots.policy: 0.213
  PetaboxLoader3.resolve: 50.901
*/